@use "../../scss/" as *;

.linechart {
  margin-top: 32px;
  width: 1488px;
  max-width: 1488px;
  height: 327px;
  position: relative;
  &__title {
    width: 100px;
    height: 28px;
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    color: $txt-black;
  }
  &-chart {
      height: 337px !important;
  }
}
