@use "../../scss/" as *;

.input-search {
  position: relative;
  width: 437px;
  height: 48px;
  background: $input-color;
  border-radius: 8px;

  input {
    position: absolute;
    width: 361px;
    height: 28px;
    border: none;
    background: $input-color;
    display: flex;
    align-items: center;
    color: $txt-black;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    outline: none;
    margin: 10px 16px;
  }

  button {
    width: 24px;
    height: 24px;
    color: black;
    position: absolute;
    top: 10px;
    right: 20px;
    background: transparent;

    border: none;
    width: 24px;
    cursor: pointer;

    &::after {
      content: "";
      width: 55px;
      height: 48px;
      position: absolute;
      background-color: transparent;
      top: -10px;
      left: -16px;
      border-radius: 8px;
    }
  }
}

.input {
  width: 367px;
  height: 40px;
  border-radius: 8px;
  outline: none;
  border: 1px solid #a5a8b1;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: $txt-gray;
  opacity: 0.7;
  display: flex;
  align-items: center;
  padding: 10px 16px;
}

.input-icon {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  input {
    width: 142px;
    height: 40px;
    padding: 8px 36px 8px 12px;;
    border-radius: 8px;
    color: $txt-gray;
    outline:none;
    border: 1px solid #a5a8b1;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    opacity: 0.7;
  }
  button {
    position: absolute;
    top: 10px;
    right: 14px;
    border: none;
    background-color: #fff;
    opacity: 1;
    cursor: pointer;
    transition: opacity 0.3 ease;
    &:hover {
      opacity: 0.8;
    }
  }

}
