@use "../../scss/" as *;

.piechart {
  margin-top: 205px;
  display: flex;
  position: relative;
  &-calendar {
    position: relative;
    margin-left: 8px;

    input {
      position: relative;
      width: 155px;
      height: 40px;
      opacity: 0.8;
      outline: none;
      padding: 9px 12px;
      font-size: 14px;
      line-height: 22px;
      font-weight: 500;

      background: #ffffff;
      border: 1px solid #e6e0e0;
      box-sizing: border-box;
      border-radius: 4px;
    }
    &__icon {
      position: absolute;
      top: 12px;
      right: 15px;
      height: 18px;
      width: 18px;
      cursor: pointer;

      &::after {
        content: "";
        background-color: transparent;
        width: 38px;
        height: 38px;
        position: absolute;
        top: -11px;
        left: -7px;
      }
      &:hover {
        opacity: 0.7;
      }
    }
    .icon {
      width: 18px;
      color: #ff993c;
    }
  }
  &-family {
    margin-left: 100px;
    margin-right: 148px;
    width: 301px;
    height: 312px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;

    &__title {
      margin: 0;
      margin-bottom: 8px;
      font-size: 18px;
      line-height: 28px;
      font-weight: 600;
      color: $txt-black;
    }
    &__chart {
      position: relative;
      margin-left: 5px;
      height: 262px;
      width: 262px;
    }
  }

  &-event {
    margin-right: 148px;
    width: 301px;
    height: 312px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    position: relative;
    &__title {
      margin: 0;
      margin-bottom: 8px;
      font-size: 18px;
      line-height: 28px;
      font-weight: 600;
      color: $txt-black;
    }
    &__chart {
      margin-left: 5px;
      height: 262px;
      width: 262px;
    }
  }
  &-values {
    margin-top: 26px;
    &__used {
      display: flex;
      margin-bottom: 18px;
      &__rectangle {
        margin-right: 8px;
        width: 44px;
        height: 20px;
        background-color: $chart-blue;
        border-radius: 4px;
      }

      &__title {
        margin: 0;
        font-style: normal;
        font-size: 14px;
        line-height: 22px;
        font-weight: 400;
        color: $txt-black;
      }
    }

    &__not-use {
      display: flex;
      &__rectangle {
        margin-right: 8px;
        width: 44px;
        height: 20px;
        background-color: $chart-orange;
        border-radius: 4px;
      }
      &__title {
        margin: 0;
        font-style: normal;
        font-size: 14px;
        line-height: 22px;
        font-weight: 400;
        color: $txt-black;
      }
    }
  }
}
