@use "../../scss/" as *;

.leftfooter {
  display: flex;

  position: absolute;
  bottom: 0;
  p {
    opacity: 0.5;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    color: $txt-black;
  }
  span {
    margin-left: 7px;
    margin-right: 7px;
    font-size: 8px;
    line-height: 21px;
    position: relative;

    &::after {
      content: "";

      position: absolute;
      width: 13px;
      height: 13px;
      border: 1px solid #000;
      border-radius: 50%;
      opacity: 0.5;
      top: 4px;
      left: -4px;
    }
  }
}
