@use "./scss/" as *;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box  ;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}
body {
  font-family: "Montserrat", sans-serif !important;
  // overflow: hidden;
}

ul {
  list-style-type: none;
}
li {
  margin: 0;
}
a {
  text-decoration: none;
  color: unset;
}
img {
  max-width: 100%;
}

.container {
  // width: 100%;
  max-width: 1920px;
  max-height: 1080px;
  margin: 0 auto;
  padding: 17px 33px 33px;
}
//tiêu đề page
.main-title {
  font-size: 36px;
  line-height: 54px;
  font-weight: 700;
  margin-bottom: 32px;
  color: $txt-black;
}

// layout 
.main-layout {
  padding-top: 24px;
  padding-left: 24px;
  padding-right: 32px;
  background-color: $main-color;
  width: 1567px;
  height: 963px;
  border-radius: 24px;
}

// tiêu đề của layout
.title-layout {
  font-size: 26px;
  line-height: 30px;
  font-weight: 700;
  color: $txt-black;
  text-align: center;
}


//khoảng cách button của layout
.btn-layout {
  display: flex;
  justify-content: center;
  div:nth-child(2) {
    margin-left: 24px;

  }
}

// * color red

.note {
  color: $end;
  width: 7px;
  height: 26px;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
}

.note-title{
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: $txt-black;
  opacity: 0.4;
  margin-left: 4px;
  margin-top: 2px;

}

//label title 
.label-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: $txt-black;
  opacity: 0.7;
  margin: 0 8px;
}



// radio antd

.ant-radio-checked .ant-radio-inner {
  border-color: #1890ff;
  width: 24px !important;
  height: 24px !important;
}

.ticketfilter-check__state span {
  border-color: #1890ff;
  width: 24px !important;
  height: 24px !important;
  
}
input[type='radio'], input[type='checkbox'] {
  box-sizing: border-box;
  width: 24px;
  padding: 0;
  height: 24px;
}
.ant-radio-checked .ant-radio-inner::after {
  transform: scale(1) !important;
  opacity: 1;
  transition: all 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
}
// title-radio
.title-radio {
  min-width: 150px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  opacity: 0.7;
  color: #1E0D03;
  position: absolute;
  top: 4px;
}
// modal
.ant-modal-footer {
  display: none;
}
.ant-modal-body {
  padding: 0 !important;
}
.ant-modal-content {
  height: 0 !important;
  width: 0px !important;
  border-radius: 16px !important;
  background-color: none !important;
  box-shadow: none !important;
}
.ant-modal-close {
  display: none;
}
.ant-checkbox-inner,
.ant-checkbox-input {
  width: 20px ;
  height: 20px ;
}
//menu 
.ant-menu-vertical, .ant-menu-vertical-left {
  border: none !important;
}