@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

$main-bg: #f9f6f4;
$main-color: #fff;

$btn-primary: #FF993C;
$btn-secondary: #e5e5e5;

$input-color : #f7f7f8;

$txt-gray: gray;
$txt-white: #fff;   
$txt-black: #1E0D03;
$txt-orange:  #FF993C;

$orange: #ffbb00;


$chart-orange: #FF8A48;
$chart-blue: #4F75FF;

$gap-menu: 0 38px;
$gap-header: 0 27px;

$font-family:  "Montserrat", sans-serif;