.ant-modal-footer {
  display: none;
}
.ant-modal-content {
  width: 0px !important;
  border-radius: 16px !important;
  background-color: none !important;
  box-shadow: none !important;
}
.ant-modal-close {
  display: none;
}
